.InfoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
    margin-top: -200px;
    margin-left: 200px;
    width: 100%;
}