.SearchBox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 380px;
    margin-bottom: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SearchBox__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}