.SearchBox{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SearchBox__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.SearchBox{
    padding: 1rem;
    background: var(--glass);
    border-radius: 10px;
}
.SearchBox form{
    display:flex;
    flex-direction:column;
    gap:0.75rem;
    align-items:center;
}
.SearchBox .MuiTextField-root{
    width: 320px;
    max-width: 90%;
}

@media (min-width:720px){
    .SearchBox form{flex-direction:row}
    .SearchBox .MuiTextField-root{width:240px}
}